<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cms.service.mapper.cms.CmsCategoryAttributeMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.cms.pojo.cms.CmsCategoryAttribute">
        <result column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="title" property="title"/>
        <result column="keywords" property="keywords"/>
        <result column="description" property="description"/>
        <result column="data" property="data"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        id,
        category_id,
        title,
        keywords,
        description,
        data
    </sql>

<!--auto generated Code-->
    <insert id="insert">
        INSERT INTO cms_category_attribute
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> id, </if>
            <if test="pojo.categoryId != null"> category_id, </if>
            <if test="pojo.title != null"> title, </if>
            <if test="pojo.keywords != null"> keywords, </if>
            <if test="pojo.description != null"> description, </if>
            <if test="pojo.data != null"> data, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> #{pojo.id}, </if>
            <if test="pojo.categoryId != null"> #{pojo.categoryId}, </if>
            <if test="pojo.title != null"> #{pojo.title}, </if>
            <if test="pojo.keywords != null"> #{pojo.keywords}, </if>
            <if test="pojo.description != null"> #{pojo.description}, </if>
            <if test="pojo.data != null"> #{pojo.data}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO cms_category_attribute(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.categoryId},
            #{pojo.title},
            #{pojo.keywords},
            #{pojo.description},
            #{pojo.data}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE cms_category_attribute
        <set>
            <if test="pojo.id != null"> id = #{pojo.id}, </if>
            <if test="pojo.categoryId != null"> category_id = #{pojo.categoryId}, </if>
            <if test="pojo.title != null"> title = #{pojo.title}, </if>
            <if test="pojo.keywords != null"> keywords = #{pojo.keywords}, </if>
            <if test="pojo.description != null"> description = #{pojo.description}, </if>
            <if test="pojo.data != null"> data = #{pojo.data} </if>
        </set>
         WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM cms_category_attribute
        <where>
            <if test="pojo.id != null"> AND id = #{pojo.id} </if>
            <if test="pojo.categoryId != null"> AND category_id = #{pojo.categoryId} </if>
            <if test="pojo.title != null"> AND title = #{pojo.title} </if>
            <if test="pojo.keywords != null"> AND keywords = #{pojo.keywords} </if>
            <if test="pojo.description != null"> AND description = #{pojo.description} </if>
            <if test="pojo.data != null"> AND data = #{pojo.data} </if>
        </where>
        LIMIT 1000 
    </select>

<!--auto generated Code-->
    <delete id="delete">
        DELETE FROM cms_category_attribute where id = #{id}
    </delete>
</mapper>
