<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cms.service.mapper.cms.CmsCategoryModelIdMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.cms.pojo.cms.CmsCategoryModelId">
        <result column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="model_id" property="modelId"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        id,
        category_id,
        model_id
    </sql>

<!--auto generated Code-->
    <insert id="insert">
        INSERT INTO cms_category_model_id
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> id, </if>
            <if test="pojo.categoryId != null"> category_id, </if>
            <if test="pojo.modelId != null"> model_id, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> #{pojo.id}, </if>
            <if test="pojo.categoryId != null"> #{pojo.categoryId}, </if>
            <if test="pojo.modelId != null"> #{pojo.modelId}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO cms_category_model_id(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.categoryId},
            #{pojo.modelId}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE cms_category_model_id
        <set>
            <if test="pojo.id != null"> id = #{pojo.id}, </if>
            <if test="pojo.categoryId != null"> category_id = #{pojo.categoryId}, </if>
            <if test="pojo.modelId != null"> model_id = #{pojo.modelId} </if>
        </set>
         WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM cms_category_model_id
        <where>
            <if test="pojo.id != null"> AND id = #{pojo.id} </if>
            <if test="pojo.categoryId != null"> AND category_id = #{pojo.categoryId} </if>
            <if test="pojo.modelId != null"> AND model_id = #{pojo.modelId} </if>
        </where>
        LIMIT 1000 
    </select>

<!--auto generated Code-->
    <delete id="delete">
        DELETE FROM cms_category_model_id where id = #{id}
    </delete>
</mapper>
