<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cms.service.mapper.cms.CmsTagMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.cms.pojo.cms.CmsTag">
        <result column="id" property="id"/>
        <result column="site_id" property="siteId"/>
        <result column="name" property="name"/>
        <result column="type_id" property="typeId"/>
        <result column="search_count" property="searchCount"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        id,
        site_id,
        name,
        type_id,
        search_count
    </sql>

<!--auto generated Code-->
    <insert id="insert">
        INSERT INTO cms_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> id, </if>
            <if test="pojo.siteId != null"> site_id, </if>
            <if test="pojo.name != null"> name, </if>
            <if test="pojo.typeId != null"> type_id, </if>
            <if test="pojo.searchCount != null"> search_count, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> #{pojo.id}, </if>
            <if test="pojo.siteId != null"> #{pojo.siteId}, </if>
            <if test="pojo.name != null"> #{pojo.name}, </if>
            <if test="pojo.typeId != null"> #{pojo.typeId}, </if>
            <if test="pojo.searchCount != null"> #{pojo.searchCount}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO cms_tag(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.siteId},
            #{pojo.name},
            #{pojo.typeId},
            #{pojo.searchCount}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE cms_tag
        <set>
            <if test="pojo.id != null"> id = #{pojo.id}, </if>
            <if test="pojo.siteId != null"> site_id = #{pojo.siteId}, </if>
            <if test="pojo.name != null"> name = #{pojo.name}, </if>
            <if test="pojo.typeId != null"> type_id = #{pojo.typeId}, </if>
            <if test="pojo.searchCount != null"> search_count = #{pojo.searchCount} </if>
        </set>
         WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM cms_tag
        <where>
            <if test="pojo.id != null"> AND id = #{pojo.id} </if>
            <if test="pojo.siteId != null"> AND site_id = #{pojo.siteId} </if>
            <if test="pojo.name != null"> AND name = #{pojo.name} </if>
            <if test="pojo.typeId != null"> AND type_id = #{pojo.typeId} </if>
            <if test="pojo.searchCount != null"> AND search_count = #{pojo.searchCount} </if>
        </where>
        LIMIT 1000 
    </select>

<!--auto generated Code-->
    <delete id="delete">
        DELETE FROM cms_tag where id = #{id}
    </delete>
</mapper>
