<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cms.service.mapper.sys.SysDeptPageIdMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.cms.pojo.sys.SysDeptPageId">
        <result column="id" property="id"/>
        <result column="dept_id" property="deptId"/>
        <result column="page" property="page"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        id,
        dept_id,
        page
    </sql>

<!--auto generated Code-->
    <insert id="insert">
        INSERT INTO sys_dept_page_id
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> id, </if>
            <if test="pojo.deptId != null"> dept_id, </if>
            <if test="pojo.page != null"> page, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> #{pojo.id}, </if>
            <if test="pojo.deptId != null"> #{pojo.deptId}, </if>
            <if test="pojo.page != null"> #{pojo.page}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO sys_dept_page_id(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.deptId},
            #{pojo.page}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE sys_dept_page_id
        <set>
            <if test="pojo.id != null"> id = #{pojo.id}, </if>
            <if test="pojo.deptId != null"> dept_id = #{pojo.deptId}, </if>
            <if test="pojo.page != null"> page = #{pojo.page} </if>
        </set>
         WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM sys_dept_page_id
        <where>
            <if test="pojo.id != null"> AND id = #{pojo.id} </if>
            <if test="pojo.deptId != null"> AND dept_id = #{pojo.deptId} </if>
            <if test="pojo.page != null"> AND page = #{pojo.page} </if>
        </where>
        LIMIT 1000 
    </select>

<!--auto generated Code-->
    <delete id="delete">
        DELETE FROM sys_dept_page_id where id = #{id}
    </delete>
</mapper>
