<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cms.service.mapper.sys.SysDomainMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.cms.pojo.sys.SysDomain">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="site_id" property="siteId"/>
        <result column="path" property="path"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        id,
        name,
        site_id,
        path
    </sql>

<!--auto generated Code-->
    <insert id="insert">
        INSERT INTO sys_domain
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> id, </if>
            <if test="pojo.name != null"> name, </if>
            <if test="pojo.siteId != null"> site_id, </if>
            <if test="pojo.path != null"> path, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> #{pojo.id}, </if>
            <if test="pojo.name != null"> #{pojo.name}, </if>
            <if test="pojo.siteId != null"> #{pojo.siteId}, </if>
            <if test="pojo.path != null"> #{pojo.path}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO sys_domain(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.name},
            #{pojo.siteId},
            #{pojo.path}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE sys_domain
        <set>
            <if test="pojo.id != null"> id = #{pojo.id}, </if>
            <if test="pojo.name != null"> name = #{pojo.name}, </if>
            <if test="pojo.siteId != null"> site_id = #{pojo.siteId}, </if>
            <if test="pojo.path != null"> path = #{pojo.path} </if>
        </set>
         WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM sys_domain
        <where>
            <if test="pojo.id != null"> AND id = #{pojo.id} </if>
            <if test="pojo.name != null"> AND name = #{pojo.name} </if>
            <if test="pojo.siteId != null"> AND site_id = #{pojo.siteId} </if>
            <if test="pojo.path != null"> AND path = #{pojo.path} </if>
        </where>
        LIMIT 1000 
    </select>

<!--auto generated Code-->
    <delete id="delete">
        DELETE FROM sys_domain where id = #{id}
    </delete>
</mapper>
