<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cms.service.mapper.sys.SysRoleUserIdMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.cms.pojo.sys.SysRoleUserId">
        <result column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="user_id" property="userId"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        id,
        role_id,
        user_id
    </sql>

<!--auto generated Code-->
    <insert id="insert">
        INSERT INTO sys_role_user_id
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> id, </if>
            <if test="pojo.roleId != null"> role_id, </if>
            <if test="pojo.userId != null"> user_id, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> #{pojo.id}, </if>
            <if test="pojo.roleId != null"> #{pojo.roleId}, </if>
            <if test="pojo.userId != null"> #{pojo.userId}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO sys_role_user_id(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.roleId},
            #{pojo.userId}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE sys_role_user_id
        <set>
            <if test="pojo.id != null"> id = #{pojo.id}, </if>
            <if test="pojo.roleId != null"> role_id = #{pojo.roleId}, </if>
            <if test="pojo.userId != null"> user_id = #{pojo.userId} </if>
        </set>
         WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM sys_role_user_id
        <where>
            <if test="pojo.id != null"> AND id = #{pojo.id} </if>
            <if test="pojo.roleId != null"> AND role_id = #{pojo.roleId} </if>
            <if test="pojo.userId != null"> AND user_id = #{pojo.userId} </if>
        </where>
        LIMIT 1000 
    </select>

<!--auto generated Code-->
    <delete id="delete">
        DELETE FROM sys_role_user_id where id = #{id}
    </delete>
</mapper>
