<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cms.service.mapper.sys.SysSiteMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.cms.pojo.sys.SysSite">
        <result column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="site_path" property="sitePath"/>
        <result column="dynamic_path" property="dynamicPath"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        id,
        parent_id,
        name,
        site_path,
        dynamic_path
    </sql>

<!--auto generated Code-->
    <insert id="insert">
        INSERT INTO sys_site
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> id, </if>
            <if test="pojo.parentId != null"> parent_id, </if>
            <if test="pojo.name != null"> name, </if>
            <if test="pojo.sitePath != null"> site_path, </if>
            <if test="pojo.dynamicPath != null"> dynamic_path, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> #{pojo.id}, </if>
            <if test="pojo.parentId != null"> #{pojo.parentId}, </if>
            <if test="pojo.name != null"> #{pojo.name}, </if>
            <if test="pojo.sitePath != null"> #{pojo.sitePath}, </if>
            <if test="pojo.dynamicPath != null"> #{pojo.dynamicPath}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO sys_site(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.parentId},
            #{pojo.name},
            #{pojo.sitePath},
            #{pojo.dynamicPath}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE sys_site
        <set>
            <if test="pojo.id != null"> id = #{pojo.id}, </if>
            <if test="pojo.parentId != null"> parent_id = #{pojo.parentId}, </if>
            <if test="pojo.name != null"> name = #{pojo.name}, </if>
            <if test="pojo.sitePath != null"> site_path = #{pojo.sitePath}, </if>
            <if test="pojo.dynamicPath != null"> dynamic_path = #{pojo.dynamicPath} </if>
        </set>
         WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM sys_site
        <where>
            <if test="pojo.id != null"> AND id = #{pojo.id} </if>
            <if test="pojo.parentId != null"> AND parent_id = #{pojo.parentId} </if>
            <if test="pojo.name != null"> AND name = #{pojo.name} </if>
            <if test="pojo.sitePath != null"> AND site_path = #{pojo.sitePath} </if>
            <if test="pojo.dynamicPath != null"> AND dynamic_path = #{pojo.dynamicPath} </if>
        </where>
        LIMIT 1000 
    </select>

<!--auto generated Code-->
    <delete id="delete">
        DELETE FROM sys_site where id = #{id}
    </delete>
</mapper>
